@media (max-width: 1024px) {
  .app-container {
    grid-template-columns: 100%;
    padding: 20px;
    column-gap: 0;
    row-gap: 40px
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-container>img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .showcase-container {
    justify-content: center;
    padding: 0;
  }

  .showcase-container .showcase-text>h2:first-child {
    color: #2a394f;
    font-size: 3rem;
    font-weight: 700;
  }

  .showcase-container .showcase-text>h2:last-child {
    color: #2a394f;
    font-size: 3.5rem;
    font-weight: 700;
  }

  .showcase-container .showcase-text>p {
    margin-bottom: 10px;
  }

  .showcase-container>img {
    width: 180px;
  }

  .hourly-forecast-container {
    padding: 20px;
    overflow-x: scroll;
    justify-content: center;
    gap: 30px;
  }

  .hourly-forecast-container .hour-weather-item>img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .hourly-forecast-container .hour-weather-item>p:first-child {
    font-size: 0.825rem;
  }

  .hourly-forecast-container .hour-weather-item>p:last-child {
    font-size: 1.5rem;
  }

  .weather-details-container {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .weather-details-container .weather-detail-item {
    padding: 20px;
    border-radius: 20px;
    min-height: 130px;
    text-align: center;
  }

  .weather-details-container .weather-detail-item>p:first-child {
    color: #8f8f8f;
    font-size: 0.825rem;
    margin-bottom: 10px;
  }

  .weather-details-container .weather-detail-item>div>p {
    font-size: 1.5rem;

  }

  .weather-details-container .weather-detail-item>div>span {
    font-size: 0.825rem;
  }

  .weekly-forecast-container .day-weather-item>p {
    font-size: 0.925rem;
  }

  .weekly-forecast-container .day-weather-item>div>p:first-child {
    font-size: 0.875rem;
  }

  .weekly-forecast-container .day-weather-item>div>p:last-child {
    font-size: 0.875rem;
  }

}