@import url(global.css);
@import url(responsiveness.css);

/* header/nav */
header {
  width: 100%;
  background-color: var(--surface-color);
}

.nav-header {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;

}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo i {
  font-size: 32px;
  color: var(--brand-color);
}

.logo h4 {
  color: var(--brand-color);
  font-family: 'Poppins', sans-serif;
}

.nav-items {
  display: flex;
}

.nav-items>ul {
  display: flex;
  gap: 16px;
  list-style: none;
  font: var(--text-md);
  align-items: center;
  color: var(--text-color-secondary);
}

.nav-items>ul>li:first-child {
  font-size: 20px;
}

.nav-items>ul>li {
  transition: 0.5s ease;
}

.nav-items>ul>li>img {
  width: 40px;
  height: 40px;
}

.nav-items>ul>li:hover {
  text-decoration: underline;
  color: var(--brand-color);
  cursor: pointer;
}

.nav-items>ul>li:first-child:hover {
  text-decoration: none;
}

/* perfil  */
.profile {
  display: flex;
  padding-block: 32px;
  justify-content: space-between;
}

main>div:first-child {
  width: 100%;
  background-color: var(--surface-color);
}

.profile-content {
  display: flex;
  gap: 32px;
}

.profile-text-content {
  max-width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-text-content>h1 {
  font: var(--heading);
  margin-bottom: 8px;
}

.profile-text-content>p {
  font: var(--text-sm);
  color: var(--text-color-secondary);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.stats>div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stats>div>p {
  font: var(--text-sm);
  color: var(--text-color-secondary);
}

.stats>div>i {
  color: var(--brand-color);
  font-size: 24px;
  text-align: center;
}

/* galeria */
.gallery {
  background-color: var(--background-color);
  padding-block: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery>img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

footer {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  font: var(--text-sm);
  color: var(--text-color-secondary);
}

footer>div {
  display: flex;
  gap: 8px;
}