* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar-container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-container>ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-container>ul>li {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 50%;
  transition: 0.5s ease;
}

.navbar-container>ul>li:hover {
  cursor: pointer;
  opacity: 100%;
}

/* showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  background: url(./images/showcase.jpg) center / cover;

  /* overlay */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container>h1,
.thank-you-container>h1 {
  font-weight: 600;
  font-size: 4rem;
}

.showcase-container>p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  border-bottom: 1.5px solid #fff;
  padding: 0 5px 5px 5px;
  letter-spacing: 0.15rem;
  margin-top: 15px;
}

/* conteudo sobre mim */
.about-me-content {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.about-me-content>img {
  width: 320px;
  height: 320px;
}

.about-me-content>p {
  color: #fff;
  line-height: 2rem;
  text-align: justify;
}

/* habilidades */
.skills-content {
  margin-top: 108px;
  display: flex;
  justify-content: space-between;
}

.skill-item {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 50px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-content .skill-item:nth-child(2) {
  margin: 0 50px;
}

.skill-item>span {
  color: #fff;
  font-weight: 500;
  margin: 15px 0;
}

.skill-item>p {
  color: #fff;
  line-height: 1.83rem;
  opacity: 75%;
}

/* projetos */
.projects-content {
  margin-top: 118px;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.projects-content .project-item:nth-child(even),
.projects-content .project-item:nth-child(even) {
  justify-content: flex-end;
  text-align: end;
}

.projects-content .project-item:nth-child(even)>.project-item-image,
.projects-content .project-item:nth-child(even)>.project-item-image {
  order: 2;
  margin-left: 50px;
}

.projects-content .project-item:nth-child(even)>.project-text,
.projects-content .project-item:nth-child(even)>.project-text {
  order: 1;
}


.project-item-image {
  width: 300px;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.project-item-1 {
  background: url(./images/project1.jpg) center / cover;
}

.project-item-2 {
  background: url(./images/project2.jpg) center / cover;
}

.project-item-3 {
  background: url(./images/project3.jpg) center / cover;
}

.project-item-4 {
  background: url(./images/project4.jpg) center / cover;
}

.project-text {
  margin-left: 50px;
  max-width: 600px;
}

.project-text p {
  color: #fff;
  line-height: 1.825rem;
  opacity: 75%;
}

.project-text h3 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 500;
}

/* formulário */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 108px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form .form-input {
  margin-bottom: 30px;
}

/* roda no pé */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.75);
}

.footer-container .social-items i {
  margin-right: 25px;
}

.footer-container .social-items i:hover {
  cursor: pointer;
}

/* agradecimento */
.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
  background: url(./images/showcase.jpg) center / cover;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.6);
}

.thank-you-container>a {
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  border-bottom: 1.5px solid #fff;
  padding: 0 5px 5px 5px;
  letter-spacing: 0.15rem;
}


/* utilidades */
.section-container {
  width: 100%;
  background: #111;
  padding: 120px 0;
}

.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1.5px solid #fff;
  padding: 0 8px 8px 8px;
  letter-spacing: 0.15rem;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.form-input {
  border: none;
  border-radius: 15px;
  padding: 20px;
  background-color: #202020;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  resize: none;
}

.form-input::placeholder {
  font-weight: 500;
  font-size: 20px;
}

.form-input:focus {
  outline: thin solid rgba(255, 255, 255, 0.5);
}

.form-button {
  border: none;
  color: #fff;
  background-color: #000;
  padding: 20px;
  border-radius: 15px;
  transition: 0.5s ease;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.form-button:hover {
  background-color: #202020;
  cursor: pointer;
}