* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar-container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-container>ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-container>ul>li {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 50%;
  transition: 0.5s ease;
}

.navbar-container>ul>li:hover {
  cursor: pointer;
  opacity: 100%;
}

/* showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  background: url(./images/showcase.jpg) center / cover;

  /* overlay */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

.showcase-container>h1 {
  font-weight: 600;
  font-size: 4rem;
}

.showcase-container>p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  border-bottom: 1.5px solid #fff;
  padding: 0 5px 5px 5px;
  letter-spacing: 0.15rem;
}

/* conteudo sobre mim */
.about-me-content {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.about-me-content>img {
  width: 320px;
  height: 320px;
}

.about-me-content>p {
  color: #fff;
  line-height: 2rem;
  text-align: justify;
}

/* utilidades */

.section-container {
  width: 100%;
  background: #111;
  padding: 120px 0;
}

.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1.5px solid #fff;
  padding: 0 8px 8px 8px;
  letter-spacing: 0.15rem;
  text-align: center;
  width: fit-content;
  margin: auto;
}